<%= render 'layouts/sidebar' %>
<div class="main-content span9">
  <div class="main-container">
    <h3>User List</h3>
    <% @users.each do |user| %>
      <%= link_to user.fullname, user %>
    <% end %>
  </div>
</div>
