<% provide(:title, @user.fullname) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.fullname %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <div class="main-container">
      <h3>App List</h3>
      <% @user.apps.each do |app| %>
        <%= link_to app.title, app %>
      <% end %>
    </div>
  </div>
</div>
