<footer class="footer span12">
  <div class="footer-container">
    <small>
      Design by DJ Tyree
    </small>
    <nav>
      <ul>
        <li><a href="http://www.droid-life.com/">News</a></li>
      </ul>
    </nav>
  </div>
</footer>
